body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #6dd8df, #adf3ed);
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 80px auto;
    background:#37a8b0 ;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #f8f9f9;
    color: rgb(22, 141, 146);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #90e0c6;
}

.result {
    background: #f1f1f1;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.no-result {
    color: red;
    text-align: center;
    margin-top: 15px;
}